* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Science Gothic", sans-serif;
}

:root {
  --lemon: #b9ff66;
  --black-300: #191a23;
  --gray: #f3f3f3;
  --white: #ffffff;
  --black-500: #000000;
}

.logo {
  max-width: 100%;
  height: 40px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav_bar {
  height: 90px;
  padding: 0 80px;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_links a {
  color: var(--black-500);
  font-weight: 300;
  font-size: 14px;
}

.nav_menus {
  display: flex;
  gap: 25px;
  align-items: center;
}

.nav_links {
  display: flex;
  gap: 25px;
}

.request_quote_btn {
  padding: 13px 20px;
  background-color: var(--white);
  border: 0.6px solid var(--black-500);
  border-radius: 12px;
}

.section_one {
  padding: 35px 80px;
  display: flex;
  gap: 30px;
}

.section_one_left h1 {
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 30px;
}

.section_one_left p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: var(--black-300);
}

.section_one div {
  flex: 1;
}

.illustration_img {
  width: 100%;
  height: auto;
}

.book_consultation_btn {
  background-color: var(--black-500);
  color: var(--white);
  padding: 14px 20px;
  margin-top: 18px;
  border-radius: 13px;
  font-weight: 300;
  border: none;
  font-size: 14px;
}

.clients {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 80px;
}

.clients img {
  display: inline-block;
  width: 126px;
}

.services {
  margin-top: 40px;
  padding: 10px 80px;
}

.services_top {
  display: flex;
  gap: 40px;
  align-items: center;
}

.services_top h2 {
  background-color: var(--lemon);
  border-radius: 8px;
  padding: 5px 8px;
  font-weight: 400;
  font-size: 22px;
}

.services_top p {
  max-width: 580px;
  font-size: 15px;
  font-weight: 300;
}

.services_features {
  margin-top: 50px;
}

.gray_card,
.black_card,
.lemon_card {
  width: 600px;
  height: 310px;
  border-radius: 50px;
  padding: 30px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  border: 1px solid var(--black-500);
}

.gray_card img,
.black_card img,
.lemon_card img {
  width: 210px;
  height: 165px;
}

.services_features {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.gray_card span,
.lemon_card span,
.black_card span {
  font-size: 25px;
}

.gray_card span {
  display: inline-block;
  background-color: var(--lemon);
}
.lemon_card span {
  display: inline-block;
  background-color: var(--gray);
}

.black_card span {
  display: inline-block;
  background-color: var(--white);
}

.gray_card {
  background-color: var(--gray);
}

.black_card {
  background-color: var(--black-500);
}

.lemon_card {
  background-color: var(--lemon);
}

.card_top {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.card_top button {
  width: 100px;
  background-color: transparent;
  border: none;
  font-size: 17px;
  white-space: nowrap;
  font-weight: 300;
}

.black_card button {
  color: var(--white);
}

.header span:nth-child(1) {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 3px 6px;
}

.header span:last-child {
  padding: 3px 6px;
  border-radius: 8px;
}

.rounded_black img, .rounded_white img {
  width: 20px;
  height: 20px;
}

.rounded_black, .rounded_white {
 width: 50px;
  display: inline-flex;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.rounded_black {
  background-color: var(--black-500);
}
.rounded_white {
  background-color: var(--white);
}


.card_top .bottom {
  display: flex;
  align-items: center;
  gap: 10px;
}