* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Science Gothic", sans-serif;
}

:root {
  --lemon: #b9ff66;
  --black-300: #191a23;
  --gray: #f3f3f3;
  --white: #ffffff;
  --black-500: #000000;
}

.logo {
  max-width: 100%;
  height: 40px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav_bar {
  height: 90px;
  padding: 0 50px;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_links a {
  color: var(--black-500);
  font-weight: 300;
  font-size: 14px;
}

.nav_menus {
  display: flex;
  gap: 25px;
  align-items: center;
}

.nav_links {
  display: flex;
  gap: 25px;
}

.request_quote_btn {
  padding: 13px 20px;
  background-color: var(--white);
  border: 0.6px solid var(--black-500);
  border-radius: 12px;
}

.section_one {
  padding: 35px 50px;
  display: flex;
  gap: 30px;
}

.section_one_left h1 {
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 30px;
}

.section_one_left p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: var(--black-300);
}
.section_one div {
  flex: 1;
}

.illustration_img {
  width: 100%;
  height: auto;
}

.book_consultation_btn {
  background-color: var(--black-500);
  color: var(--white);
  padding: 15px 20px;
  margin-top: 18px;
  border-radius: 13px;
  border: none;
  font-size: 16px;
}
